<?xml version='1.0' encoding='UTF-8'?>
<widget defaultmode="fullscreen" modes="application">
    <widgetname>Five Corners</widgetname>
    <description>Simple client for Foursquare.</description>
	<network>public</network>
    <width>360</width>
    <height>480</height>
    <author>
    	<name>Milen Petrinski - Gonzo</name>
    	<link>http://greatgonzo.net</link>
    </author>
    <id>
    	<host>greatgonzo.net</host>
    	<name>fivecorners</name>
    </id>
    <icon>icon_128.png</icon>
    <icon>icon_64.png</icon>
    <icon>icon_32.png</icon>
    <icon>icon_16.png</icon>
</widget>
