body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #333;
	font-size: 18px;
	font-family: "Helvetika", sans-serif;
	line-height: 1.2em;
	text-align: left;
}

header {
	display: block;
	padding: 10px 20px 0px 20px;
	background: #0CBADF;
	color: #fff;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 1.5em;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin: 1em 20px .8em 20px;
	color: #1B6CB5;
}

h3 {
	font-size: 20px;
	margin:0;
}

h4 {
	font-size: 18px;
	margin:0;
}

nav, menu {
	display: block;
	float: right;
	margin-top: -20px;
}

menu {
	position: relative;
	margin: 0;
	margin-top: -50px;
	padding: 0;
	background: #fff;
	z-index: 20;
}

p {
	margin-bottom: 1.2em;
}

a, button, #message a.button {
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #1B6CB5;
	-webkir-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	color: #1B6CB5;
	text-decoration: none;
	font-weight: bold;
}

a:focus, button:focus, a:hover, button:hover {
	box-shadow: 0 0 3px 2px #0CBADF;
}

a:active, button:active {
	box-shadow: inset 0 0 3px 2px #0CBADF;
}

#message a, h3 a {
	display: inline;
	padding: 0;
	border: 0;
	text-decoration: underline;
}

button {
	font-size: 18px;
}

#message button, form button, #message a.button {
	display: block;
	width: 100%;
	margin-top: 1.5em;
	text-align: center;
}

input, label {
	width: 100%;
	font-size: 1em;
}

input {
	margin-bottom: .5em;
}

label {
	font-weight: bold;
}

header nav {
	float: none;
	clear: both;
	margin-top: 5px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

header nav li {
	float:left;
	margin: 0;
	padding: 5px 0 0 5px;
}

header nav li a {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 20px;
	padding: 10px 15px;
}

header nav li a:hover, header nav li a:focus {
	box-shadow: 0 0 3px 2px #fff;
}

header nav li a:active {
	box-shadow: inset 0 0 3px 2px #ccc;
}

header span.user {
	font-weight: bold;
}

header menu {
	margin-top: -40px;
}

#app-content {
	display: block;
	position:relative;
}

#app-content ul {
	clear: both;
	list-style-type: none;
	padding: 0;
	margin:0 0 1em 0;
	border-bottom: 1px solid #ccc;
}

#app-content ul li {
	padding: 10px 20px;
	margin: 0px;
	border-top: 1px solid #ccc;
}

#app-content ul li p, header p {
	margin: 0;
}

#app-content section {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width:100%;
	padding: 20px 0;
	background: #fff;
}

#app-content section:first-child {
	display: block;
}

#app-content form {
	padding: 20px;
}

#app-content textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 10px;
}

#app-content section > menu {
	position: relative;
	top: -10px;
	margin: 0 20px 0;
	float:right;
}

#app-content li > a {
	display: block;
	padding: 0;
	border: none;
	color: inherit;
	font-weight: inherit;
}

div.checked-in {
	padding: 20px;
}

#message > p {
	padding: 0 20px;
}

#message > h3 {
	margin: 0 20px .8em 20px;
	text-transform: capitalize;
}

img.badge {
	float: left;
	margin: 0 10px 10px 0;
}

div.error {
	padding: 20px;
	font-weight: bold;
}

div.error h2, div.error h3 {
	color: red;
}

div.loading {
	padding-bottom: 100px;
	background: URL('loading.gif') center no-repeat;
	text-align: center;
}

