body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #333;
	font-size: 16px;
	font-family: "Gil Sans", "Helvetika", sans-serif;
	line-height: 1.2em;
	text-align: left;
}
header {
	display: block;
	padding: 10px 20px 0px 20px;
	background: #0CBADF;
	color: #fff;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin: 0;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin: 1em 20px .8em 20px;
	color: #1B6CB5;
}
h3 {
	font-size: 20px;
	margin:0;
}
nav, menu {
	display: block;
	float: right;
	margin-top: -20px;
}
p {
	margin-bottom: 1.2em;
}
a, button {
	display: inline-block;
	padding: 5px 5px;
	border: 1px solid #1B6CB5;
	border-radius: 5px;
	background: #fff;
	color: #1B6CB5;
	text-decoration: none;
	font-weight: bold;
}

header h1 {
	width: 40%;
}
header nav {
	float: none;
	clear: both;
	margin-top: 5px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
header nav li {
	float:left;
	margin: 0;
	padding: 0;
}
header nav li a {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 20px;
	padding: 10px 15px;
}
header p {
	float:right;
	position: relative;
	top: -20px;
	width: 59%;
	text-align: right;
}
header span.user {
	font-weight: bold;
}

#app-content {
	display: block;
	padding: 20px 0;
}
#app-content ul {
	list-style-type: none;
	padding: 0;
	margin:0;
	border-bottom: 1px solid #ccc;
}
#app-content ul li {
	padding: 10px 20px;
	margin: 0px;
	border-top: 1px solid #ccc;
}
#app-content ul li p, header p {
	margin: 0;
}

div.checked-in {
	padding: 20px;
}

img.badge {
	float: left;
	margin: 0 10px 10px 0;
}

div.error {
	padding: 20px;
	color: red;
	font-weight: bold;
}
div.error * {
	color: inherit;
}

#app-content menu {
	position: relative;
	top: -30px;
	margin: 0;
	padding: 0 30px 0 0;
	border: 1px solid #1B6CB5;
	border-radius: 5px;
}
#app-content menu a {
	border: none;
	border-right: 1px solid #1B6CB5;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#app-content menu ul {
	display: none;
	position: absolute;
	top: 100%;
	left: -1px;
	z-index: 100;
	width: 100%;
	margin: 0;
	margin-top: -5px;
	padding: 5px 0;
	border: 1px solid #1B6CB5;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	list-style-type: none;
	background: #fff;
}
#app-content menu:hover ul {
/*	display: block;*/
}
#app-content menu ul li {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid #1B6CB5;
}
#app-content menu ul a {
	display: block;
	border: none;
	border-radius: 0;
	margin: 0;
}

